{% extends 'frontend/index.html' %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">


  <div style="text-align:center; padding-top:30px">
    <input type="text" name="code" class="span6" id="code" placeholder="Enter Code" onKeyPress="{if (event.keyCode==13)speedbox()}">
  </div>


</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>


<script type="text/javascript">

function speedbox()
    {
        console.log("were in...")
        console.log($("#code").val())
        var mycode = $("#code").val()
        $.ajax({
            url: "/open/sb",
            type: "post",
            data: {code: mycode},
            success: function(data){
                console.log(data)
                if (data.error_code == "202")
                {
                    alert(data.message)
                }else if(data.error_code == "200")
                {
                    alert(data.message)
                }else if(data.error_code == "201")
                {
                  alert(data.message)
                }
              },
              error:function(){
                  alert("failure");

              },
            dataType: "json"
        });
    };

</script>

{% endblock %}