.skin-black,.skin-black-l{
	background: #181818;
	h1,h2,h3,h4,h5{
		color: #fff;
	}
	p{
		color: #8a8989;
	}
}

.skin-pat{
	background: url(../images/pat2.png);
}
.skin-black-l{
	background: #323131;
}